<div class="grid">
  <div class="row">
    <div class="col-sm-12">
        <app-search-city></app-search-city>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      
      <div class="grid">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <span class="pull-right">
                <i class="fa fa-star-o"></i>
                <p class="lead pull-right"> Favoritar</p>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 center">
              <app-line-chart></app-line-chart>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-light" role="alert">
                    <strong>Recomendação: </strong> sair de casa com casaco!
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>