<div class="grid">
    <div class="row">
        <div class="col-sm-12">
            <app-search-city (searchEvent)="receiveEvent($event)"></app-search-city>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="grid">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12 center">
                            <app-line-chart [categories]="dateList" [data]="temperatureList"></app-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
